
    <div class="container">
        <div class="columns">
          <div class="column is-fullwidth footer-sub-content has-text-centered">
            <%= link_to root_path do %>
              <%= image_tag(image_url("logo.png"),alt: 'logo') %>
            <% end %>
        </div>
    </div>
    <div class="is-divider"></div>
    <div class="columns">
            <div class="column">
                <div class="content">
                    <h3>Follow me</h3>
                    <a class="button is-medium" target="_blank" href="https://github.com/GhileMear/Beyondfresh_ecommerce">
                        <span class="icon is-medium">
                            <i class="fab fa-github"></i>
                        </span>
                        <span>GitHub</span>
                    </a>
                </div>
            </div>
            <div class="column">
                <div class="content">
                    <h3>More Information</h3>
                    <% Page.all.each do |page|%>
                        <%= link_to page.page_name, page.page_name %>
                    <% end %>
                </div>
            </div>
        </div>
</div >