
<nav class="navbar is-fixed-top secondary-menu" role="navigation" aria-label="main navigation">
  <div class="navbar-menu is-active">
    <div class="navbar-start is-active">
    </div>
    <div class="navbar-end is-active">
      <h1 class="cart-text"><%= render 'layouts/cart_progress' %></h1>
    </div>
  </div>
</nav>