<div class="columns">
    <div class="column">
        <div class="content has-text-centered">
            <h3><%= @page.header%></h3>
            <p><%= @page.body%></p>
            <small><%= @page.sub_content%></small>
        </div>
    </div>
</div>