
<div class="box">
<% prefix = product.id %>
    <%= form_for order_product, namespace: prefix , remote: true do |f| %>
        <div class="field is-horizontal">
            <label class="label">Quantity: </label>
            <div class="control">
                <%= f.number_field :qty, value: 1, class: "input is-info is-small", min: 1 %>
            </div>
        </div>
                <%= f.hidden_field :product_id, value: product.id %>
        <div class="field">
            <div class="control">
                <%= f.submit "Add to Cart", class: "button is-primary is-outlined is-fullwidth" %>
            </div>
        </div>
    <% end %>
</div>