

<div class="columns is-multiline is-marginless">
    <% count=0; @products.each do |product| %>
        <div class="column is-one-fifth">
            <%= render partial: 'products/product_card', locals: {product: product, show_cart: true} %>
        </div>
        <% count = count + 1%>
        <% if count > 4 %>
            </div>
            <div class="columns is-multiline is-marginless ">
            <% count = 0%>
        <%end%>
    <%end%>
</div>
<%= paginate @products %>